In [1]:
df = [1,2,3,44,55,56,6,9,234]

#List AdVANCE

In [2]:
 def remove_middle(lst , start ,end):
  return lst[:start] + lst[end+1:]


  #start จะนับทุกตัว
  #end + 1 จะนับจากข้างหลัง แล้ว หา 1

In [3]:
#more frequent 
def more_frequent_item(lst ,item1 ,item2):
  if lst.count(item1) >= lst.count(item2):
    return item1
  else:
    return item2

In [4]:
def middle_element(lst):
  if len(lst) %2 == 0:
    sum = lst[int(len(lst)/2)] + lst[int(len(lst)/2)-1]
    return sum/2 
  else:
    return lst[int(len(lst)/2)]

In [5]:
middle_element(df)

55

#Python Challenge loop

In [6]:
df = [1,2,3,44,50 ,55,56,6,9,234]

In [7]:
def divisible_by_ten(nums):
  count = 0
  for num in nums:
    if (num % 10 == 0):
      count += 1
  return count

In [8]:
divisible_by_ten(df)

1

In [9]:
def add_greetings(names):
  l = []
  for i in names:
    l.append("Hello, "+ i)
  return l

In [10]:
def delete_starting_evens(lst):
  while (len(lst) > 0 and lst[0] % 2 ==0):
    lst = lst[1:]
  return lst

  # while loop to keep iterating as long as some provided conditions are true

In [11]:
df_odd = [4, 3, 7, 10, 11, -2]

In [12]:
def odd_indices(lst):
  new_lst = []
  for index in range(1, len(lst), 2):
    new_lst.append(lst[index])
  return new_lst

In [13]:
odd_indices(df_odd)

[3, 10, -2]

In [14]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [15]:
#Nested loop 
def exponents(bases , powers):
  l = []
  for  base in bases:
    for power in powers:
      l.append(base ** power)
  return l

print(exponents([2, 3, 4], [1, 2, 3]))

[2, 4, 8, 3, 9, 27, 4, 16, 64]

#LOOPS ADVANCE

In [16]:
#Larger sum 
def larger_sum(lst1 , lst2):
  sum1 = 0 # It like as empty list 
  sum2 = 0 
  for it1 in lst1:  #calculate lst1
    sum1 += it1
  for it2 in lst2:   #calculate lst2
    sum2 += it2
  if sum1 >= sum2:  #check condition
    return lst1
  else:
    return lst2

In [17]:
larger_sum([1, 9, 5], [2, 3, 7])

[1, 9, 5]

In [18]:
#Over 9000 

def over_nine_thousand(lst):
  sum = 0
  for number in lst:
    sum += number  
    if (sum > 9000):  #ยังไงต้องมากว่า 9000 ถ้าตัวแรก 9000 ตัวต่อไปจะไม่ถูกนำมาคิด
      break
  return sum

In [19]:
#max write function 
def max_num(nums):
  maximum = nums[0]
  for number in nums:
    if number > maximum:
      maximum = number
  return maximum

In [20]:
max_num([1,34,5])

34

In [21]:
nums = [1,34,5]
nums[0]

1

In [22]:
#find same value 
def same_values(lst1 , lst2):
  newlist= []
  for index in range(len(lst1)):
    if lst1[index] == lst2[index]:
      newlist.append(index)
  return newlist

In [23]:
#Reversed List 
def reversed_list(lst1 ,lst2):
  for index in range(len(lst1)):
    if lst1[index] != lst2[len(lst2) -1 - index]:  #reverse look at -1
      return False
  return True

In [24]:
  #Reverse list
  def reverse(list_of_chars):

    left_index  = 0
    right_index = len(list_of_chars) - 1

    while left_index < right_index:
        # Swap characters
        list_of_chars[left_index], list_of_chars[right_index] = \
            list_of_chars[right_index], list_of_chars[left_index]
        # Move towards middle
        left_index  += 1
        right_index -= 1
    return list_of_chars

In [25]:
list_of_chars = ['z','r','x','e','c']

In [26]:
reverse(list_of_chars)

['c', 'e', 'x', 'r', 'z']

# Function

In [27]:
#Tenth_power
def tenth_power(num):
  num = num**10
  return num

In [28]:
example = 18 % 2 #use modulo  for remainders
example

0

In [29]:
#advance 
def tip(total ,percentage ):
  food = (total * percentage)/100
  return food

# order to win the prize for most cookies sold

In [30]:
my_list     = [3, 4, 6, 10, 11, 15]
alices_list = [1, 5, 8, 12, 14, 19 , 20]

#print(merge_lists(my_list, alices_list))
# Prints [1, 3, 4, 5, 6, 8, 10, 11, 12, 14, 15, 19] expect ans

In [31]:
#style 1
def merge_lists(my_list , alices_list):
  new = my_list + alices_list
  return sorted(new)

In [32]:
#style 2
def merge_lists(my_list, alices_list):
    # Set up our merged_list
    merged_list_size = len(my_list) + len(alices_list)
    merged_list = [None] * merged_list_size

    current_index_alices = 0
    current_index_mine = 0
    current_index_merged = 0
    while current_index_merged < merged_list_size:
        is_my_list_exhausted = current_index_mine >= len(my_list)
        is_alices_list_exhausted = current_index_alices >= len(alices_list)
        if (not is_my_list_exhausted and
                (is_alices_list_exhausted or
                 my_list[current_index_mine] < alices_list[current_index_alices])):
            # Case: next comes from my list
            # My list must not be exhausted, and EITHER:
            # 1) Alice's list IS exhausted, or
            # 2) the current element in my list is less
            #    than the current element in Alice's list
            merged_list[current_index_merged] = my_list[current_index_mine]
            current_index_mine += 1
        else:
            # Case: next comes from Alice's list
            merged_list[current_index_merged] = alices_list[current_index_alices]
            current_index_alices += 1

        current_index_merged += 1

    return merged_list

In [33]:
merge_lists(my_list , alices_list)

[1, 3, 4, 5, 6, 8, 10, 11, 12, 14, 15, 19, 20]